.services-table-fixed {
  table-layout: fixed;
  width: 100%;
}

#services {
    background: #ffffff;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.services-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  img {
    width: 33.33%;
    height: auto;
  }
}